.menu-toggle:checked + .menu {
    display: block;
}
.bg-food {
    background-image: url('https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?q=80&w=1981&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    filter: brightness(0.7);
}
.hover{
    border: 1px solid transparent;
}
.hover:hover{
   transform: translateY(-7px);
   border-color: rgb(221, 221, 221);
}
@media (max-width:850px){
    section, .bg-food{
        padding-left:1.3rem ;
        padding-right: 1.3rem;
    }
    
}
